form {
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.more-actions{
    margin-top: 50px;
}

.form-group #fullDescription{
    height: 250px;
    margin: 0 !important;
}
.submit-btn{
    width: 60% !important;
}

.delete-room-btn{
    background: #ff0037 !important;
}

.upload-area{
    border: black 1px solid;
    border-radius: 4px;
    height: 200px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.form-group input,select,textarea,option {
    width: 60%;
    padding: 12px 15px;
    border-radius: 4px;
    border: 1px solid black;
}

.form-group input:focus, select:focus, textarea:focus{
    outline: none;
}

/*preview section*/
/* Preview Container */

.preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .preview-container img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #ddd;
  }

.upload-area.dragover {
    border: 2px dashed #0d6efd;
    background-color: #f0f8ff;
}


.remove-image {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--secondary);
    color: var(--white);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition);
}

.remove-image:hover {
    background-color: #ff0037;
    transform: scale(1.1);
}